<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697493357125-htp3bse5nougun6ono2kb0kitkmjb5da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697493357125-htp3bse5nougun6ono2kb0kitkmjb5da</string>
	<key>API_KEY</key>
	<string>AIzaSyB5nPZYs7DR5GzMhrisSc0hbYxtqlkA2wE</string>
	<key>GCM_SENDER_ID</key>
	<string>697493357125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-ad6c2</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-ad6c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697493357125:ios:7f0bddad9272395b32992c</string>
</dict>
</plist>